*{
    margin: 0;
    padding: 0;
}

.services-content{
    background-color: black;
    width: 100%;
}

.services-content h2{
    text-align: center;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 400;
    padding-top: 70px;
}

.service-iconStyle{
    text-align: center;
    color: #fbfdfd;
    font-size: 25px;
}

.services-items{
    margin-top: 50px;
    display: grid;
    grid: 130px / auto auto;
    grid-gap: 30px;
    padding: 10px;
    padding-bottom: 50px;
}