*{
    margin: 0;
    padding: 0;
}

.dashboard-sidebar{
    background-color: rgb(44, 44, 44);
    width: 250px;
    height: 93vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #ffffff;
}

.dashboardSidebarTopPart{
    width: 100%;
    height: auto;
}

.dashboardSidebarContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dashboardSidebarDownPart{
    width: 100%;
    height: 50px;
    border-top: 1px solid #b6935b;
}

.dashboardSidebarButton{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #b6935b;
    font-size: 18px;
}

.dashboardSidebarContentIcon{
    width: 25%;
    font-size: 20px;
    padding: 0px 20px;
}

.dashboard-sidebar-icon{
    font-size: 20px;
    padding-left: 20px;
}

.dashboard-sidebar-btn button{
    color: #ffffff;
    background-color: rgb(44, 44, 44);
    border: none;
    text-align: left;
}

.dashboard-sidebar-btn button:hover{
    color: #b6935b;
}