*{
    margin: 0;
    padding: 0;
}

.searchedTourCard{
    width: 100%;
    height: 230px;
    background-color: rgb(44, 44, 44);
    color: white;
}

.tourCard-status{
    width: 100%;
    height: 50px;
    background-color: #b6935b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tourCard-status h2{
    font-size: 22px;
}

.status-highlighter{
    width: 150px;
    height: 25px;
    background-color: aqua;
    margin-left: 20px;
    color: black;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}

.tourCard-Property{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tourCard-content{
    width: 60%;
    padding-left: 20px;
    padding-top: 20px;
}

.tourCard-content h3{
    padding-bottom: 20px;
}

.tourCard-content p{
    line-height: 0.5;
    padding-left: 10px;
}

.tourCard-member{
    width: 40%;
    padding-top: 60px;
}

.tourCard-member td{
    padding-right: 10px;
}

.iconStyle{
    margin-right: 20px;
    color: #b6935b;
}