*{
    margin: 0;
    padding: 0;
}

.dashboardTopBar{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgb(44, 44, 44);
}

.dashboardTopBarContain{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashboard-top-bar-heading{
    display: flex;
    width: 900px;
}

.dashboard-top-bar-heading img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgb(60, 199, 241);
    margin-top: 5px;
}

.dashboard-top-bar-heading h1{
    color: #b6935b;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 15px;
}

.dashboard-top-bar-heading span{
    color: #ffffff;
}

.dashboard-top-bar-notification{
    display: flex;
    /* margin-left: 500px; */
    color: #b6935b;
    font-size: 20px;
    padding: 10px;
}

.dashboard-top-bar-icon{
    padding-right: 40px;
}

.dashboard-top-bar-icon:hover{
    color: turquoise;
}

.logout{
    border-top: 1px solid black;
    border-width: 90%;
    margin-top: 310px;
}

