*{
    margin: 0;
    padding: 0;
}

.booking-tour-itinerary{
    width: 800px;
    height: auto;
    background-color: rgb(31, 30, 30);
    padding: 30px;
    margin: 10px 0px 0px 150px;
    font-family: 'Roboto Slab', sans-serif;
}

.booking-tour-itinerary h1{
    color: #b6935b;
    font-size: 20px;
}

.booking-tour-itinerary h6{
    color: #b6935b;
}

.booking-tour-itinerary p{
    color: #ffffff;
    font-size: 15px;
    padding-top: 5px;
}

