*{
    margin: 0;
    padding: 0;
}

.aboutUs-contain{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.aboutUs-info{
    width: 100%;
    height: auto;
}

.aboutUs-info h1{
    color: #ffffff;
    padding-top: 50px;
}

.aboutUs-details{
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 20px;
}

.aboutUs-detail-info{
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: rgb(39, 38, 38);
    color: #ffffff;
    padding: 40px;
}

.aboutUs-detail-info h1{
    color: #b6935b;
}

.aboutUs-img{
    width: 100%;
    height: 600px;
    margin: 20px 0px;
}

.aboutUs-img img{
    width: 100%;
    height: 600px;
}