*{
    margin: 0;
    padding: 0;
}

.popular-tours-container{
    background-color: black;
    padding: 50px;
}

.popular-tour-header{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.popular-tour-header-info{
    width: 500px;
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 30px;
}

.popular-tour-header-info h1{
    font-size: 30px;
    color: #b6935c;
    padding-bottom: 10px;
    
}

.popular-tour-header-info p{
    color: #ffffff;
}

.popular-tour-header-link a{
    text-decoration: none;
    color: #b6935b;
    padding-left: 600px;
    padding-top: 100px;
}

.popular-tours-items{
    margin-top: 50px;
    display: grid;
    grid: auto / auto auto auto auto;
    grid-gap: 30px;
    padding: 10px;
    padding-bottom: 50px;
}